<div id="<%= dom_id template %>">
  <p>
    <strong>Subject:</strong>
    <%= template.subject %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= template.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= template.body %>
  </p>

</div>
